{% extends 'partials/base.html.twig' %}

{% block content %}
	<div id="container">

		Valve
		Yesler
		Cole Weber
		at&t

		<a href="#" data-featherlight="#mylightbox">Open element in lightbox</a>
		<div id="mylightbox">This div will be opened in a lightbox</div>
		
		<div class="clear"></div>

		<style>
			


		</style>

	</div> <!-- close container -->
	{{ page.content }}
	
	<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.2/release/featherlight.min.css" type="text/css" rel="stylesheet" />

{% endblock %}


