/* Global */
a:hover{
	cursor: pointer;
}

.clear{
	clear: both;
}

.center{
	text-align: center;
}

#container{
	max-width: 800px;
	width: 95%;
	margin: 0 auto;
	padding-bottom: 35px;
	padding-top: 50px;
}

#header{
	background: #ffffff;
}

body{
	z-index: 1;
	color: #222222;
}

span.center{
	display:block;
}

#container.container_padding_plus{
	padding-top: 250px !important;
}

/* Home Page */

.nav_square_link h2{
	color: #ffffff;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}


a.nav_square_link{
	display: block;
	line-height: 0;
}

.nav_square:hover{
	cursor: pointer;
}

.nav_square{
	display: block;
	box-sizing: border-box;
	margin: 1px;
	float: left;
	width: 33%;
	height: 198px;
	z-index: 1;
	position: relative;
	overflow: hidden;
}

div#container.wide_view{
	max-width: 100% !important;
	width: 100%;
	margin: 0;
	padding: 0;
}

div#container.wide_view .nav_square{
	height: 300px;
}

/* About Page */
.about_bg{
	/*background: url(../images/about_bg_header_image.png) no-repeat top center;*/
	min-height: 100%;
	width: 100%;
	width: 1200px;
	position: absolute;
	top: 80px;
	z-index: 0;
}

.about_bg img{
	display: block;
	margin: 0 auto;
}



/** TODO: create breakpoints for mobile homepage, images should stack when width is too short **/
@media (max-width:630px){
  .nav_square{
    width: 100%;
	}
}

@media (min-width: 630px){
	.dark_overlay{
		background: url(../images/black.png) repeat;
		opacity: .5;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		transition: opacity .5s ease-in-out;
	   -moz-transition: opacity .5s ease-in-out;
	   -webkit-transition: opacity .5s ease-in-out;
	}

	.dark_overlay:hover{			
	   opacity: 0;
	}

	.featherlight .featherlight-content{
		max-width: 65%;
	}

	#my-nice-form{
		width: 60%;
		/*margin: 0 auto;*/
	}
}


/* Resume Page */

.job_tile img{
	width: 100%;
	margin: 0 auto;
}

.job_tile{
	/*border: 1px solid #000000;*/
	display: block;
	position: relative;
	width: 45%;
	max-width: 500px;
	padding: 1% 2%;
	float: left;
}

.company_responsibilities{
	display: none;
}

/* Form */


/* Footer */

.social_media_icon_container{
	position: absolute;
	right: 10%;
	top: 10%;
}

.social_media_icon img{
	height: 30px;
	width: 30px;
	margin-right: 10px;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}

.social_media_icon img:hover{
	 -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}